*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

  .body-box {
    background-color: #637b94;
  }
  
  .image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
   
  }
  
  .image-preview img {
    border-radius: 8px;
  }
  